*{margin: 0;padding: 0;bottom: 0; box-sizing: border-box;}


body{max-width: 760px; margin: 0 auto; background: black; font-family: sans-serif; text-align: center; color: #fff;}

img{
width: 100%;
height: auto;
}




