li{list-style:none}

#cartelera li{
  background:#CCC;
  padding: 15px;
  width: 120px;
  margin: 5px 5px 40px 5px;
  border-radius: 4px 8px 4px 8px;
  float:left;
  box-shadow: 2px 5px 8px #999;
  text-align: center;
  height: 250px;
  border-bottom: red 5px solid;}

header, footer{clear:both}
body{font-family: arial}
a{text-decoration: none}


#cartelera li,
#cartelera li h2,
#cartelera li img{
  transition: 0.3s;
}

#cartelera li a h2{font-size: 14px; text-align: center;}

#cartelera li img{height: auto; width: 90%; opacity: .7; margin-top: 5px; border-radius: 10px}

#cartelera li:hover img{width: 100%; opacity: 1;}

#cartelera li:hover h2{color: green; letter-spacing: 5px}

#cartelera li:hover{box-shadow: 2px 15px 12px #777; border-bottom: blue 15px solid}